a.menu__link{
    text-decoration: none;
    color: #1b1d24;
    padding: 0px 15px;
    transition: 0.9ms;
    font-size: 18px;
    font-family: Arial;
    
}

a.menu__link:hover{
    color: #fff;
    border-bottom: 2px  solid #fff;

}

.contener{
    height: 60px;
    width: 100%;
    background-color: #5d6675;
}


body{
    background: #dedede;
}

.conteiner{
    height: 60px;
    width: 80%;
    margin: auto;
}

.menu__logo{
    align-items: center;
    height: 60px;
    display: flex;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.menu__list{
    display: flex;
}

.logo__item{
    list-style: none;
}

.title{
    font-family: Arial;
    padding-left: 25px;
    font-size: 30px;
}

.logo{
    height: 40px;
    width: 40px;
}

.menu__item{
    list-style: none;
}

